.console-name {
    font-weight: 700;
    font-size: 22px;
}

.quantity {
    font-size: 20px;
}
.cart-items{
    margin: 20px auto;
    width: 80%;
}

.cart-add-button, .cart-remove-button {
    width: 30px;
    margin-right: 15px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    
}

.cart-add-button {
    background-color: green;
}

.cart-remove-button {
    background-color: red;
}

.clear-cart-button, .save-payments-button{
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    width: 30%;
    height: 40px;
    /* display: block; */
    text-transform: uppercase;
    margin: 15px auto;
    cursor: pointer;
}

.clear-cart-button{
    background-color: lightcoral;
    color: white;
}

.save-payments-button {
    background-color:yellowgreen;
    color: rgb(28, 25, 25);
}